@font-face {
  font-family: 'Avenir-regular';
  src: local('Avenir-regular'),
    url('../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Regular.otf')
      format('truetype');
}

@font-face {
  font-family: 'Avenir-medium';
  src: local('Avenir-medium'),
    url('../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf')
      format('truetype');
}

@font-face {
  font-family: 'Avenir-bold';
  src: local('Avenir-bold'),
    url('../assets/fonts/Avenir_Next_Pro/../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttfAvenirNextLTPro-Demi.otf')
      format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans'),
    url('../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff') format('woff');
}

$avenir-regular: 'Avenir-regular', sans-serif;
$avenir-medium: 'Avenir-medium', sans-serif;
$avenir-bold: 'Avenir-bold', sans-serif;
$work-sans: 'Work Sans', sans-serif;
$roboto: 'Roboto', sans-serif


// import '@fontsource/roboto/300.css';
// import '@fontsource/roboto/400.css';

// import '@fontsource/roboto/700.css';

