.layout {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .layout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('../../assets/images/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5; /* Set the transparency level here */
  }
  
  /* Add your content styles here */
  