@use '../../styles/index.scss' as *;

.container {
  background-image: map-get($dark-variant, '200');
  color: set-text-color(map-get($dark-variant, '200'));
  padding: 1rem 3rem;
  padding-top: 90px;
  @include mobile() {
    padding: 90px 1rem;
  }
  min-height: 100vh;
  height: 100%;
  padding-bottom: 0;
  box-sizing: border-box;

  .hero {
    padding: 1rem;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: set-text-color($primary);
    height: 200px;

  }

  .featured {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    align-items: center;
    
    .product {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      .card_item {
        width: 25%;
      @include box-shadow();

        @include mobile() {
          width: 100%;
        }
        background-color: $white;
        padding: 1rem;
        margin: 10px 0;
        border-radius: 5px;

        h2 {
          font-weight: 500;
          font-size: 16px;
          height: 50px;
          text-overflow: ellipsis;
          white-space: nowrap;

        }
        center
        h3 {
          font-weight: 600;
          font-size: 16px;
          line-height: 1.6;
        }

        .bottom {
          display: flex;
          gap: 1rem;
          align-items: center;

          button {
            background-color: $primary;
            color: set-text-color($primary);
            height: 40px;
            border-radius: 5px;

            &:hover {
              background-color: darken($color: $primary, $amount: 10);
              cursor: pointer;
            }
          }
        }
      }
      
      img {
        width: 100%;
        min-height: 250px;
        max-height: 250px;
        padding: 1rem;
        object-fit: cover;
         object-position: center;
         transition: transform 0.5s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .subscribe {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      align-items: center;
      width: 100%;
     
      .content {
        padding: 8rem 0;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

        h3, p {
          text-align: center;
          margin: 1rem 0;
          color: set-text-color($primary);
        }

        form {
          margin-top: 1rem;
          display: flex;
          @include mobile() {
            width: 100%;
            padding: 1rem;
          }
          
          input {
            width: 450px;
            padding: 1rem;
            outline: none;
            border: none;
          }
          button {
            width: 150px;
            outline: none;
            border: none;
            background-color: $amber;
            cursor: pointer;
            font-weight: 500;
            font-size: 18px;

            &:hover {
              background-color: darken($color: $amber, $amount: 10);
            }
          }
        }

      }
  }

}
